<%= form_with(model: news_article) do |form| %>
  <% if news_article.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(news_article.errors.count, "error") %> prohibited this news_article from being saved:</h2>

      <ul>
        <% news_article.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :"Título", style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :"artículo", style: "display: block" %>
    <%= form.text_area :body %>
    <%= form.text_field :user_id %>
  </div>

  <div>
    <%= form.submit :"Grabar noticia", class: 'btn btn-success'%>
  </div>
<% end %>
